<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>
<body>
    <div class="ui fixed inverted menu">
        <a href="/" class="header item"> Accueil </a>
    </div>
    <div class="ui main container">
        <% if(locals.flash && locals.flash.error){ %>
            <div class="ui negative message">
                <%= flash.error %>
            </div>
        <% } %>
        
        <% if(locals.flash && locals.flash.success){ %>
            <div class="ui positive message">
                <%= flash.success %>
            </div>
        <% } %>
    
       